<div class="container">
    <div class="col m12">
        {{#if article}} {{#each article}}
        <div>
            <div>
                <h4>{{this.title}}</h4>
            </div>
            <div class="card-content">
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br>
                <br>
                <button type="button" class="btn saveButton" data-id={{this._id}}>Save Article</button>
                <br>
                <br>
            </div>
        </div>
        {{/each}} {{else}}
        <div class="card">
            <div class="card-content">
                <h1>No articles have been saved</h1>
            </div>
        </div>
        {{/if}}
    </div>
</div>